################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sourcecode/.vs/ProcessHollowing/FileContentIndex
/sourcecode/.vs
